/*
Theme Name: CC Start
Theme URI: https://themes.creativecache.co/start
Author: Creative Cache
Author URI: https://creativecache.co/
Description: Single landing page template for starter website.
Version: 1.0.0
Text Domain: cc-start
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, sticky-post, theme-options, threaded-comments, translation-ready
*/

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

.hide {
  display: none;
}

.dark-text a,
.dark-text a:focus,
.dark-text a:hover {
  color: #000;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  height: auto;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .25);
}

.light-text {
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.dark-text {
  color: #000;
  text-shadow: 0 .05rem .1rem rgba(255, 255, 255, .5);
}


.cover-container {
  max-width: 50em;
  min-height: 100vh;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead a {
  padding: .25rem 0;
  display: block;
  margin: 0 .5rem;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.dark-text .nav-masthead a {
  color: rgba(0, 0, 0, .5);
}

.nav-masthead a:hover,
.nav-masthead a:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
  text-decoration: none;
}

.dark-text .nav-masthead a:hover,
.dark-text .nav-masthead a:focus {
  border-bottom-color: rgba(0, 0, 0, .25);
  text-decoration: none;
}

.nav-masthead .current-menu-item a,
.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

.dark-text .nav-masthead .current-menu-item a,
.dark-text .nav-masthead .active {
    color: #000;
    border-bottom-color: #000;
}

.nav-masthead a + a {
  margin-left: 1rem;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }

  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  margin: 1.5rem auto;
  max-width: 42em;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.cover a {
	text-decoration: underline;
}

.cover a:hover,
.cover a :focus {
	text-decoration: none;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.dark-text .mastfoot {
  color: rgba(0, 0, 0, .75);
}